/examples/handwriting/c_code/NetworkSetup/mh_conv_nrn_connections_levels_0_1
/examples/handwriting/c_code/NetworkSetup/mh_conv_nrn_connections_levels_1_2
/examples/handwriting/c_code/NetworkSetup/mh_conv_nrn_connections_levels_2_3
/examples/handwriting/c_code/NetworkSetup/mh_conv_nrn_params_level0
/examples/handwriting/c_code/NetworkSetup/mh_conv_nrn_params_level1
/examples/handwriting/c_code/NetworkSetup/mh_conv_nrn_params_level2
/examples/handwriting/c_code/NetworkSetup/mh_conv_nrn_params_level3
/examples/handwriting/c_code/TextToBin
/examples/handwriting/c_code/Sim
/examples/handwriting/c_code/Handwriting.h
/examples/handwriting/c_code/junk/mat_test_x.txt
Sim.dSYM/
*.hdf
.idea/
